<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ccc212.eduagent.mapper.OperLogMapper">

    <select id="pageQuery" resultType="cn.ccc212.eduagent.pojo.vo.OperLogVO">
        select
            oper_id,
            title,
            oper_name,
            oper_ip,
            oper_param,
            json_result,
            status,
            error_msg,
            oper_time,
            execute_time
        from t_oper_log
    </select>
</mapper>
